*.pyc

deps/
tts/
www/

sftp-config.json

home-assistant_v2.db
home-assistant.log
home-assistant_v2.db-wal
home-assistant_v2.db-shm

secrets.yaml
ip_bans.yaml
known_devices.yaml
haaska-config.json
entity_registry.yaml

html5_push_registrations.conf
phue.conf

.storage/
.uuid
.HA_VERSION
.spotify-token-cache
.shopping_list.json

._*

.vscode/
