*.pyc

deps/
tts/
www/

sftp-config.json
.vscode

home-assistant_v2.db
home-assistant.log
home-assistant_v2.db-wal
home-assistant_v2.db-shm

zigbee2mqtt/log
zigbee2mqtt/.storage
zigbee2mqtt/database.db
zigbee2mqtt/state.json
zigbee2mqtt/configuration.yaml  # Contains secrets

custom_components/hacs

secrets.yaml
ip_bans.yaml
known_devices.yaml
haaska-config.json
entity_registry.yaml

html5_push_registrations.conf
phue.conf

.storage/
.uuid
.HA_VERSION
.spotify-token-cache
.shopping_list.json

._*