- alias: IFTTT Webhook receiver
  trigger:
    platform: event
    event_type: ifttt_webhook_received
    event_data:
      action: call_service
  action:
    service_template: '{{ trigger.event.data.service }}'
    data_template:
      entity_id: '{{ trigger.event.data.entity_id }}'
  id: 01dad040eb5246618eb384f83317f72b
- alias: Falling asleep -> Nightlight off
  id: automatic_nightlight
  trigger:
  - platform: state
    entity_id: binary_sensor.humans_home
    from: 'on'
    to: 'off'
  condition:
    condition: and
    conditions:
    - condition: state
      entity_id: light.nachtlicht
      state: 'on'
    - condition: state
      entity_id: sun.sun
      state: below_horizon
    - condition: time
      after: '21:00:00'
      before: 06:00:00
  action:
  - service: scene.turn_on
    entity_id: scene.nachtlicht_10m
- alias: Falling asleep -> Nightlight off (after turning on again)
  id: automatic_nightlight_after_manual_turn_on
  trigger:
  - platform: state
    entity_id: light.nachtlicht
    from: not_home
    to: home
  condition:
    condition: and
    conditions:
    - condition: state
      entity_id: sun.sun
      state: below_horizon
    - condition: time
      after: '22:00:00'
      before: 06:00:00
  action:
  - service: scene.turn_on
    entity_id: scene.nachtlicht_10m
  - service: notify.html5
    data:
      title: Noch 10 Minuten!
      message: Das Nachtlicht geht in 10 Minuten aus. (Zweites Nachtlicht Timer)
- alias: Sleeping Room light on at evening -> nightlight scene
  id: sleeping_room_light_on__nightlight_scene_when_evening
  trigger:
  - platform: state
    entity_id: light.nachtlicht
    from: not_home
    to: home
  condition:
    condition: and
    conditions:
    - condition: state
      entity_id: sun.sun
      state: below_horizon
    - condition: time
      after: '22:00:00'
      before: 06:00:00
  action:
  - service: scene.turn_on
    entity_id: scene.nachtlicht_scene
- id: humans_away__lights_off
  alias: Away for 15m -> Lights off
  trigger:
  - entity_id: binary_sensor.humans_home
    for:
      hours: 0
      minutes: 15
      seconds: 0
    from: on.
    platform: state
    to: 'off'
  condition:
  - condition: and
    conditions:
    - after: 07:00:00
      before: '21:00:00'
      condition: time
    - condition: state
      entity_id: input_boolean.vacation_mode
      state: 'off'
  action:
  - entity_id: group.all_lights
    service: light.turn_off
- alias: TV on -> Soundbar on
  id: tv_on__soundbar_on
  trigger:
    platform: state
    entity_id: device_tracker.tv
    from: not_home
    to: home
  action:
  - delay: 00:00:15
  - service: media_player.turn_on
    data:
      entity_id: media_player.soundbar
  - delay: 00:00:15
  - service: media_player.select_source
    data:
      entity_id: media_player.soundbar
      source: TV
- alias: TV on -> Spotify off
  id: tv_on__spotify_off
  trigger:
    platform: state
    entity_id: device_tracker.tv
    from: not_home
    to: home
  action:
    service: media_player.media_pause
    data:
      entity_id: media_player.spotify
- alias: Spotify @Wohnzimmer -> Soundbar Bluetooth
  id: spotify_on__soundbar_bluetooth
  trigger:
  - platform: state
    entity_id: media_player.spotify
    to: playing
  - platform: state
    entity_id: sensor.spotify_source
  condition:
    condition: and
    conditions:
    - condition: template
      value_template: '{{ states.sensor.spotify_source.state in ["Echo Wohnzimmer",
        "Alle Lautsprecher"] }}'
    - condition: state
      entity_id: media_player.spotify
      state: playing
  action:
    service: script.turn_on
    entity_id: script.turn_on_soundbar_bluetooth
- alias: Spotify @Wohnzimmer aus -> Soundbar off
  id: spotify_off__soundbar_off
  trigger:
    platform: state
    entity_id: media_player.spotify
    to: paused
  condition:
    condition: and
    conditions:
    - condition: template
      value_template: '{{ states.media_player.soundbar.attribute.source == "Bluetooth
        Audio" }}'
    - condition: state
      entity_id: device_tracker.tv
      state: not_home
  action:
  - service: media_player.turn_off
    data:
      entity_id: media_player.soundbar
- alias: TV on -> Dim lights
  id: tv_on__lights_dimmed
  trigger:
    platform: state
    entity_id: device_tracker.tv
    from: not_home
    to: home
  condition:
    condition: and
    conditions:
    - condition: state
      entity_id: sun.sun
      state: below_horizon
  action:
  - service: scene.turn_on
    entity_id: scene.tv
- alias: Living Room Lights on -> TV scene (if TV on)
  id: living_room_lights_on__tv_scene
  initial_state: false
  trigger:
    platform: state
    entity_id: light.wohnzimmer
    from: 'off'
    to: 'on'
  condition:
  - condition: state
    entity_id: device_tracker.tv
    state: home
  action:
  - service: scene.turn_on
    entity_id: scene.tv
- alias: TV off -> Cozy lights
  id: tv_off__lights_bright
  trigger:
    platform: state
    entity_id: device_tracker.tv
    from: home
    to: not_home
  condition:
    condition: and
    conditions:
    - condition: time
      after: '21:30:00'
      before: 02:00:00
    - condition: state
      entity_id: light.wohnzimmer
      state: 'on'
  action:
  - service: scene.turn_on
    entity_id: scene.cozy_lights
- alias: Device (MacBook) turned on, while Max was away
  id: laptop_on__while_max_away
  trigger:
    platform: state
    entity_id: device_tracker.max_laptop
    from: not_home
    to: home
    for:
      hours: 0
      minutes: 5
      seconds: 0
  condition:
  - condition: state
    entity_id: device_tracker.max_smartphone
    state: not_home
  action:
    service: notify.pushbullet_max
    data:
      title: Laptop turned on
      message: MacBook was turned on and Max is not home
- alias: Device (TheBeast) turned on, while Max was away
  id: thebeast_on__while_max_away
  trigger:
    platform: state
    entity_id: device_tracker.thebeast
    from: not_home
    to: home
    for:
      hours: 0
      minutes: 5
      seconds: 0
  condition:
  - condition: state
    entity_id: device_tracker.max_smartphone
    state: not_home
  action:
    service: notify.pushbullet_max
    data:
      title: TheBeast turned on
      message: TheBeast was turned on and Max is not home
- alias: Update Available Notification
  trigger:
    platform: state
    entity_id: updater.updater
  action:
    service: persistent_notification.create
    data:
      title: Update verf체gbar
      message: Take a look at the [release notes](https://github.com/home-assistant/home-assistant/releases).
        Update via `pip3 install --upgrade homeassistant`
  id: d7648b1670b74d289bcf7f7b0adc7b97
- alias: Turn on lights occasionally when on vacation
  trigger:
    platform: time
    at: '21:32:00'
  condition:
  - condition: state
    entity_id: input_boolean.vacation_mode
    state: 'on'
  action:
  - service: light.turn_on
    data:
      entity_id: light.stehlampe
      brightness: 255
      color: white
  - service: notify.pushbullet_max
    data:
      title: Holiday Trap
      message: Wohnzimmerlampe ist an f체r 2h
  - delay: 02:00:00
  - service: light.turn_off
    entity_id: group.all_lights
  - service: notify.pushbullet_max
    data:
      title: Holiday Trap
      message: Turned off all lights again
  id: e5409dd8ea5242b198fbdf06a945f487
- alias: Alarm clock ringing -> Lights on
  id: alarm_ringing__lights_on
  trigger:
    platform: state
    entity_id: input_boolean.alarm_clock_ringing
    from: 'off'
    to: 'on'
  condition:
    condition: and
    conditions:
    - condition: state
      entity_id: input_boolean.vacation_mode
      state: 'off'
    - condition: time
      after: 04:00:00
      before: '12:01:00'
  action:
  - service: scene.turn_on
    entity_id: scene.cozy_lights
  - service: scene.turn_on
    entity_id: scene.aufwachen
- alias: Alarm clock ringing -> Turn off ringing flag again
  id: alarm_ringing__reset_flag
  trigger:
    platform: state
    entity_id: input_boolean.alarm_clock_ringing
    from: 'off'
    to: 'on'
  action:
  - delay: 00:00:10
  - service: input_boolean.turn_off
    data:
      entity_id: input_boolean.alarm_clock_ringing
- alias: Alarm clock ringing -> Start Music
  id: alarm_ringing__start_music
  trigger:
    platform: state
    entity_id: input_boolean.alarm_clock_ringing
    from: 'off'
    to: 'on'
  condition:
    condition: and
    conditions:
    - condition: state
      entity_id: input_boolean.vacation_mode
      state: 'off'
    - condition: time
      after: 04:00:00
      before: '12:01:00'
  action:
  - delay: 00:02:00
  - service: media_player.select_source
    data:
      entity_id: media_player.spotify
      source: Alle Lautsprecher
  - service: media_player.shuffle_set
    data:
      entity_id: media_player.spotify
      shuffle: true
  - service: media_player.play_media
    data:
      entity_id: media_player.spotify
      media_content_type: playlist
      media_content_id: spotify:user:mammuthroid:playlist:6GdskPZ2GqgyBZe4ArV83F
- alias: Theresa Arrives -> Notify Max
  id: theresa_arrives__notify_max
  trigger:
    platform: state
    entity_id: device_tracker.theresa_smartphone
    from: not_home
    to: home
  condition:
    condition: and
    conditions:
    - condition: time
      after: '12:00:00'
      before: 05:00:00
    - condition: state
      entity_id: device_tracker.max_smartphone
      state: not_home
  action:
    service: notify.pushbullet_max
    data:
      title: Theresa ist jetzt Zuhause
      message: Theresa ist gleich Zuhause
- alias: Alarm in 50m -> Wake Up Light
  id: alarm_in_50m__wakeup_light
  trigger:
    platform: state
    entity_id: input_boolean.alarm_clock_in_50m
    from: 'off'
    to: 'on'
  action:
  - service: input_boolean.turn_off
    data:
      entity_id: input_boolean.alarm_clock_in_50m
  - delay: 00:30:00
  - service: light.turn_on
    data:
      entity_id: light.nachtlicht
      brightness: 1
      color_name: red
  - service: light.turn_on
    data:
      entity_id: light.nachtlicht
      brightness: 255
      color_name: white
      transition: 900
- alias: Coming home -> Lights On
  id: coming_home__lights_on
  trigger:
    platform: state
    entity_id: binary_sensor.humans_home
    from: 'off'
    to: 'on'
  condition:
    condition: and
    conditions:
    - condition: state
      entity_id: sun.sun
      state: below_horizon
    - condition: time
      after: '17:00:00'
      before: 04:00:00
  action:
  - service: scene.turn_on
    entity_id: scene.cozy_lights
- alias: Night -> Dark Theme
  initial_state: true
  trigger:
  - platform: time
    at: '22:00'
  action:
  - service: frontend.set_theme
    data:
      name: midnight
  id: a3ee7c18f5234c01abfbc76f00db43df
- alias: Morning -> Main Theme
  initial_state: true
  trigger:
  - platform: time
    at: 07:00
  action:
  - service: frontend.set_theme
    data:
      name: default
  id: 6a0f246b115348a49f52c54a90a5f733
- alias: Guests -> Turn on guest wifi
  trigger:
    platform: state
    entity_id: input_boolean.guest_mode
    to: 'on'
  action:
  - service: fritzbox_guestwifi.turn_on
  - service: notify.pushbullet_max
    data:
      title: G채ste-Wlan ist jetzt an
      message: 'Passwort: 01189998819991197253 as in https://www.youtube.com/watch?v=HWc3WY3fuZU'
  - service: notify.pushbullet_theresa
    data:
      title: G채ste-Wlan ist jetzt an
      message: 'Passwort: 01189998819991197253 as in https://www.youtube.com/watch?v=HWc3WY3fuZU'
  id: 1c6a6a19a84c46fab55892167036821c
- alias: Guests Away -> Turn off guest wifi
  trigger:
    platform: state
    entity_id: input_boolean.guest_mode
    to: 'off'
  action:
  - service: fritzbox_guestwifi.turn_off
  id: dce1cd19af0342beaa7ea709ad31a9a9
- alias: Dinner Scene -> Music
  trigger:
    platform: event
    event_type: call_service
    event_data:
      service_data:
        entity_id: scene.dinner
      domain: scene
      service: turn_on
  action:
  - service: media_player.select_source
    data:
      entity_id: media_player.spotify
      source: Echo Wohnzimmer
  - service: script.turn_on
    entity_id: script.play_romantic_music
  id: 9ff5bf4cd0924633b77fcb196fe44139
- id: '1550734787910'
  alias: Noone home -> Siundbar off
  trigger:
  - entity_id: binary_sensor.humans_home
    for: 00:15:00
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - data:
      entity_id: media_player.soundbar
    service: homeassistant.turn_off
